.concert-container{
    background-color: rgb(13, 6, 22);
    color: white;
}
.concert-row{
    width: 95%;
    margin:0 auto;
    padding: 2rem 0;
    border-bottom: 0.2px solid gray;
    display: flex;
    justify-content: space-between;
}
.concert-row:hover{
    background-color: rgba(114, 87, 176, 0.253);
}
.concert-row >div{
    text-align: left;
    display: flex;
    align-items: center;
}
.buy-button{
    padding: 0.5rem 1.2rem;
    background-color: transparent;
    color: white;
    border-color: green;
    border-image: linear-gradient(to right, rgb(60, 35, 118), rgb(185, 63, 238)) 1;
}
.buy-button:hover{
    background: linear-gradient(to right, rgb(60, 35, 118), rgb(185, 63, 238));
    
}
