.contact-container{
    
    width: 90%;
    margin: auto;
    background-color: rgb(60, 35, 118);
    padding: 0;
}
.name-email{
    /* border: solid red; */
    width: 100%;
    margin: 0;
}
.name-container{
    margin: 0;
    padding: 0;
}
.email-container{
    margin: 0;
    padding: 0;
}
.email{
    width: 95%;
    background-color: transparent;
    outline: none ;
    border: none;
    border-bottom: 1px solid gray !important ;
    padding: 1rem 0;
    color: white;
    font-size: 1.2rem;
    margin: 0.5rem;
}
.contact-us-text{
    color:  rgb(185, 63, 238);
    font-family :Satisfy, cursive;
    font-size:30px;
    line-height:45px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
}
.contact-left-wrapper{
    padding: 0 2rem;
    margin-top:3rem ;
}
.contact-img-container{
    /* border: solid red; */
    padding: 0;
}
.contact-img{
    min-height: 100%;
    width: 100%;
}
.send-btn{
    margin :1rem 0;
    padding: 0.5rem 2rem;
    border-image: linear-gradient(to right, rgb(60, 35, 118), rgb(185, 63, 238)) 1;
    background: linear-gradient(to right, rgb(60, 35, 118), rgb(185, 63, 238));
}
.concert-up-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}
@media screen  and (max-width:1024px) {
    .contact-container{width: 95%;}
}