.heroContainer{
    /* width: 1000px; */
    position: relative;
    min-height: 140vh;
    background-image: url('../images/ero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    min-width: 100%;
   
}
.carouselContainer{
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    
}
.HeroBtn{
    text-align: left;
    margin-left: 0;
    
}
.vkfjfm{
    min-height: 60vh;
    
}
.carousel-caption{
    text-align: left;
}
.carousel-caption >h1{
    font-size: 3.2rem;
    padding: 0;
    margin: 0;
}
.collw{
   
    min-height: 140vh;
    position: relative;
}
.ooi{
    min-height: 140vh;
    
}

@media screen and (max-width:640px) {
    .secondHeroDiv{
        display: none;
    }
}