.single-music-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.single-music-left-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    
}
.music-title{
    font-size: 19px;
}
.single-music-link{
    display: flex;
    gap: 1rem;
}
.music-lenght{
    padding: 0;
}
.single-music-right-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;    
}
.right-play{
    border: none;
    outline: none;
    background-color: purple;
    padding:0.8rem;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
}
.inner-right-play{
    margin: 0;
    padding: 0;
    
}
.inner-right-play >h5{
    margin: 0;
}